.Not_done {
    color: red;
}

form {
    display: flex;
    gap: 20px;
    margin: 20px;
}


input{
    display: inline-block;
}

button {
    padding: 7px;
    border-radius: 5px;
    border-style: none;
    color: black;
}

button:hover{
    cursor: pointer;
    font-weight: bold;
}